<footer class="footer text-center" id="footer">
  <div class="container">
    <ul class="list-inline mb-5">
      <li class="list-inline-item">
        <a
          class="social-link rounded-circle text-white mr-me"
          href="mailto:chineseorchestra@club.sutd.edu.sg"
        >
          <i class="icon-envelope"></i>
        </a>
      </li>

      <li class="list-inline-item">
        <a
          class="social-link rounded-circle text-white mr-me"
          href="https://www.facebook.com/sutdco/"
        >
          <i class="icon-social-facebook"> </i>
        </a>
      </li>

      <li class="list-inline-item">
        <a
          class="social-link rounded-circle text-white mr-me"
          href="https://www.instagram.com/sutdco/?hl=en"
        >
          <i class="icon-social-instagram"></i>
        </a>
      </li>

      <li class="list-inline-item">
        <a
          class="social-link rounded-circle text-white"
          href="https://www.youtube.com/channel/UC2Bxe_qiMAeBSzBZFXAQNSg"
        >
          <i class="icon-social-youtube"></i>
        </a>
      </li>
    </ul>
    <p class="text-muted mb-0">
      Special thanks to OpenSUTD
    </p>
  </div>
</footer>
