<!-- This is the header section for index.html ONLY. I know it's bad prog practice since it's supposed to apply to everything lmao. Check layout: page.html for the page header -->

<header class="masthead d-flex">
  <div class="container text-center my-auto" style="colour: white;">
    <h1 class="mb-1">SUTD Chinese Orchestra</h1>
    <h3 class="mb-5">
      <em>To create an inclusive & open music community for the masses</em>
    </h3>
    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about"
      >Find Out More</a
    >
  </div>
  <div class="overlay"></div>
</header>
