<!-- This is for the sidebar menu. You can edit it too, as usual -->

<a class="menu-toggle rounded" href="{{ site.url }}">
  <i class="fas fa-bars"></i>
</a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <div class="row">
        <div class="col-3">
          SUTDCO
        </div>
        <div class="col-3">
          <img src="/assets/img/logo.png" style="width: 5vh; height: auto;" />
        </div>
      </div>
    </li>
    <li class="sidebar-nav-item">
      <a href="/">Home</a>
    </li>
    <li class="sidebar-nav-item">
      <a href="/about/">About</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#sections">Sections</a>
      <!-- The hash is for the smooth scrolling trigger to scroll there. Hence I only include the sidebar for index.html. Check page.html for more info -->
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#highlights">Highlights</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#footer">Contact</a>
    </li>
  </ul>
</nav>
