---
layout: page
title: Our People
permalink: /people/
banner: /assets/img/page-masthead.jpg
---

<!-- might need a class to resize all the photos to one consistent size -->
<!-- looping through people.yml for all the content -->

<h1>Our People</h1>

<div class="tab">
  <!-- each category introduced in people.yml translates to the number of tabs-->
  {% for tabs in site.data.people %}
  <!-- setting one of them as default -->
  {% if tabs.default %}
  <button
    class="tablinks"
    onclick="openTab(event, '{{ tabs.category }}')"
    id="default"
  >
    {{ tabs.category }}
  </button>
  {% else %}
  <button class="tablinks" onclick="openTab(event, '{{ tabs.category }}')">
    {{ tabs.category }}
  </button>
  {% endif %}
  <!-- the tab classes and tab js are found in stylish-portfolio.css and page.html respectively -->
  {% endfor %}
</div>

<!-- loop again to insert content for each tab -->
{% for tabs in site.data.people %}
<div id="{{ tabs.category }}" class="tabcontent">
  <br />

  <!-- for each individual profile in their category-->
  {% for person in tabs.content %}
  <div class="row">
    <!-- each profile will have pic on the left, words on the right -->
    <div class="col-lg-4">
      <img src="{{ person.img }}" style="width: 20vw; height: auto" />
    </div>
    <div class="col-lg-8">
      <h3 class="titles">{{ person.title }}</h3>
      <h2 class="titles">{{ person.name }}</h2>
      {% for paragraphs in person.text %}
      <p style="word-break: break-word">{{ paragraphs.para }}</p>
      {% endfor %}
    </div>
  </div>
  <br />
  <br />
  {% endfor %}
</div>
{% endfor %}
