<!-- This is the layout for anything else other than index.html -->

<!DOCTYPE html> {% if site.lang %}
<html lang="{{ site.lang }}">
  {% else %}
  <html>
    {% endif %}
    <style type="text/css" media="screen">
      .pagetext {
        margin: 0px auto;
        padding: 2rem 15px;
        text-align: justify;
      }
      .myh1 {
        margin: 30px 0;
        font-size: 4em;
        line-height: 1;
        letter-spacing: -1px;
        text-align: center;
      }
    </style>
    <html lang="en">
      <head>
        <meta charset="utf-8" />
        <meta
          name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="author" content="{{ site.author }}" />
        <link
          type="text/plain"
          rel="author"
          href="{{ site.baseurl }}/humans.txt"
        />
        <title>
          {% if page.title %}{{ page.title }} - {% elsif post.title %}{{
          post.title }} - {% endif %}{{ site.title }}
        </title>
        {% capture description %} {% if page.summary %}{{ page.summary }}{% else
        %}{{ site.description }}{% endif %} {% endcapture %}
        <meta name="description" content="{{ description }}" />
        {% if page.keywords %}
        <meta name="keywords" content="{{ keywords }}" />
        {% endif %}
        <!-- Bootstrap Core CSS -->
        <link
          href="{{ site.baseurl }}/vendor/bootstrap/css/bootstrap.min.css"
          rel="stylesheet"
        />
        <!-- Custom Fonts -->
        <link
          href="{{ site.baseurl }}/vendor/fontawesome-free/css/all.min.css"
          rel="stylesheet"
          type="text/css"
        />
        <link
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
          rel="stylesheet"
          type="text/css"
        />
        <link
          href="{{ site.baseurl }}/vendor/simple-line-icons/css/simple-line-icons.css"
          rel="stylesheet"
        />
        <!-- Custom CSS -->
        <link
          href="{{ site.baseurl }}/assets/css/stylish-portfolio.min.css"
          rel="stylesheet"
        />
        <link
          rel="apple-touch-icon"
          sizes="180x180"
          href="/apple-touch-icon.png"
        />
        <link
          rel="icon"
          type="image/png"
          sizes="32x32"
          href="/favicon-32x32.png"
        />
        <link
          rel="icon"
          type="image/png"
          sizes="16x16"
          href="/favicon-16x16.png"
        />
        <link rel="manifest" href="/site.webmanifest" />
        <link rel="canonical" href="{{ page.url | prepend: site.url }}" />
      </head>

      <body id="page-top">
        <!-- Navigation -->
        {% include navigation.html %}

        <!-- Page header, note that this is a smaller version of default header, with no button as well -->
        <header
          class="pagemasthead d-flex"
          style="background: url({{page.banner}});"
        >
          <div class="container text-center my-auto" style="color: white;">
            <a href="/" style="color: initial; text-decoration: none;" ;>
              <h1 class="mb-1">SUTD Chinese Orchestra</h1>
            </a>
          </div>
          <div class="overlay"></div>
        </header>

        <div class="container">
          <div class="pagetext">
            <!-- This content space is where your subsequent pages that use this layout will be dumped at -->
            {{content}}
          </div>
        </div>

        <div id="menuModal" class="modal"></div>
        <!-- Footer -->
        {% include footer.html %}
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
          <i class="fas fa-angle-up"></i>
        </a>
        <!-- Bootstrap core JavaScript -->
        <script src="{{ site.baseurl }}/vendor/jquery/jquery.min.js"></script>
        <script src="{{ site.baseurl }}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Plugin JavaScript -->
        <script src="{{ site.baseurl }}/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Custom scripts for this template -->
        <script src="{{ site.baseurl }}/assets/js/stylish-portfolio.min.js"></script>
      </body>
    </html>
  </html>
</html>

<script>
  document.getElementById("default").click();

  function openTab(e, tabName) {
    // Declare all variables
    var i, tabcontent, tablinks, ytContainer;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tabName).style.display = "block";
    e.currentTarget.className += " active";

    //Stop playing the yt vid if user chooses another tab
    ytContainer = document.getElementsByTagName("iframe");
    for (i = 0; i < ytContainer.length; i++) {
      ytContainer[i].src = ytContainer[i].src;
    }
  }

  //Stop playing the yt vid if user clicks next, prev, or gallery
  function reloadYT(event, carouselID) {
    targetCarousel = document.getElementById(carouselID);
    ytContainer = targetCarousel.getElementsByTagName("iframe");
    for (i = 0; i < ytContainer.length; i++) {
      ytContainer[i].src = ytContainer[i].src;
    }
  }
</script>
